<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mood Reason</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="ion-margin-top" [src]="mood | moods" />
        <h1>Why you're {{mood}} ?</h1>
        <ion-textarea [(ngModel)]="description" placeholder="Reason.." class="ion-padding ion-margin-vertical textarea-style" autoGrow></ion-textarea>
        <ion-button expand="block" (click)="addNewMood()">ADD MOOD</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
