.chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
}

.form-input {
    border-radius: 7px;
    padding: 3px 10px !important;
    margin-top: 10px;
    border: 1px solid;
    min-height: 40px;
}

ion-datetime.form-input {
    min-height: 32px !important;
    padding: 10px 4px 0px 10px !important;
}