<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Statistic</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-datetime [value]="date | date" (ionChange)="getStatistic(value = $event.detail.value)" displayFormat="MMMM YYYY" class="ion-margin-horizontal form-input"></ion-datetime>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <div class="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive"></apx-chart>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="doughnutChartData.length > 0">
    <ion-card-content class="ion-no-padding">
      <div class="chart">
        <canvas baseChart 
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
        </canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="highCountMood">
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding ion-align-items-center">
          <ion-col size="3" class="ion-no-padding">
            <img [src]="highCountMood | moods" />
          </ion-col>
          <ion-col class="ion-no-padding">
            <h2>You're {{ highCountMood }} most of the time</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
 
</ion-content>
