<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Mood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-margin">What is your mood today?</h1>
  <ion-list>
    <ion-item (click)="addMoodDescription(mood)" lines="none" button *ngFor="let mood of moods">
      <img class="ion-margin-end ion-margin-vertical" [src]="mood | moods" />
      <!-- <ion-avatar class="img-size" slot="start">
      </ion-avatar> -->
      <ion-label>
        {{ mood }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>