<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mood
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mood</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Type here..." [(ngModel)]="keyword" (ngModelChange)="setFilteredMoods()"></ion-searchbar>

  <ion-button (click)="createNewMood()" color="medium" class="ion-margin" expand="block" fill="outline">
    <ion-icon name="add"></ion-icon>
  </ion-button>

  <ion-card *ngFor="let mood of mood$ | async" button color="primary" (click)="viewMoodDetails(mood)">
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding ion-align-items-center">
          <ion-col size="4" class="ion-no-padding">
            <img [src]="mood.mood | moods" />
          </ion-col>
          <ion-col class="ion-no-padding">
            <h1>{{ mood.created_on | date: 'short' : '+0000' }}</h1>
            <p>I'm {{mood.mood}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
