<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input [formControl]="loginForm.controls['username']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [formControl]="loginForm.controls['password']"></ion-input>
        </ion-item>
        <ion-button (click)="login()">Login</ion-button>
        <ion-button (click)="logout()">Logout</ion-button>
        <ion-button (click)="testJwt()">Test JWT</ion-button>
        <ion-button (click)="testRefreshJwt()">Test Refresh JWT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
