<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mood Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="mood$ | async as mood">
        <img [src]="mood.mood | moods" />
        <h1>YOU'RE {{mood.mood | uppercase}} ON {{mood.created_on | date:'short' | uppercase}}</h1>
        <h3>Why?</h3>
        <p>{{ mood.description }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
